html, body { margin: 0; padding: 0;}

.subject {
    float: left;
    top: 0;
    background:linear-gradient(to top, #242e15, #242e22);
    width: 100%;
    height: 255px;
    text-align: center;  
}

.bluemouse {
    position: absolute;
    bottom: 170px;
    left: 50%; transform: translateX(-50%);
    margin: auto;
    height: 350px;
}

.shakingmouse {
	display: none;
	width: 70%;
	height: auto;
	z-index: 5;
	position: absolute;
	left: 50%; transform: translateX(-50%);
	top: 10%;
}

.back {
    background-color: white;
    width: 100%;
    height: 25%;
}

.login {
    border: 5px solid white;
    box-sizing: border-box;
    border-bottom-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 495px;
    background-color: black;
    color: white;
    height: 400px;
    width: 400px;
    border-radius: 200px 200px 0px 0px;
    margin: auto;   
    font-variant: small-caps;
    text-align: center;
}

canvas {
    float: left;
    height: 500px;
    width:100%;
    height:640px; 
    top:59%;
    left:50%; 
    background: linear-gradient( to top, white, #242e05 );
}

.loginbutton {
    position: relative;
    font-family: "Mansalva";
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: black;
    top: 40%;
    width: 100px;
    height: 30px;
    font-size: 100%;
    transition: width 4s, height 8s;
    animation-name: smaller;
    transition-property: font-size, width, height;
    animation-duration: 4s;
}

.loginbutton2 {
	position: absolute;
	left: 50%; transform: translateX(-50%);
	font-family: "Mansalva";
	diplay: none;
	font-family: "Fascinate Inline", cursive;
	font-size: 20px;
	background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    top: 500px;
    color: #0080ff;
    cursor: pointer;
}


@keyframes smaller {
    0%   {color: green;}
    30%   {color: white;}
    100% {color: black;}
}

  @keyframes bigger {
    0%   {color: white;}
    20%   {color: rgb(93, 93, 29);}
    30% {color: black;}
    100% {color: green;}
  }

.loginbutton:hover {
    font-size: 50px;
    width: 300px;
    height: 300px;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    animation-name: bigger;
    animation-duration: 1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
  }

.footer {
    float: left;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: black;
    text-align: center;
    animation-name: colors;
    animation-duration: 0.3s;
}

@keyframes colors {
    0%  {color: rgba(255, 166, 0, 0.746);}
    25% {color: rgb(20, 20, 180);}
    50% {color: rgb(219, 219, 90);}
    75% {color: green;}
    100%{color: black;}
}

@media screen and (max-width: 600px) {
	.bluemouse {
		display: none;
	}
	
	.shakingmouse {
		display: inline-block;
		
	}
	
	.login {
		display: none;
	}
	
	.loginbutton2{
		display: inline-block;
	}
	
	.footer {
		display: none;
	}
	
	.subject {
		display: none;
	}
	
	canvas {
		height: 100%;
    	width: auto;	
		background: linear-gradient( to top, white, #ff99bb );
	}
	
	img:hover {
	  animation: shake 0.5s;
	  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(-51%, 1px) rotate(0deg); }
  10% { transform: translate(-51%, -2px) rotate(-1deg); }
  20% { transform: translate(-53%, 0px) rotate(1deg); }
  30% { transform: translate(-47%, 2px) rotate(0deg); }
  40% { transform: translate(-48%, -1px) rotate(1deg); }
  50% { transform: translate(-51%, 2px) rotate(-1deg); }
  60% { transform: translate(-53%, 1px) rotate(0deg); }
  70% { transform: translate(-47%, 1px) rotate(-1deg); }
  80% { transform: translate(-51%, -1px) rotate(1deg); }
  90% { transform: translate(-49%, 2px) rotate(0deg); }
  100% { transform: translate(-49%, -2px) rotate(-1deg); }
}
}

